@charset "UTF8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainDiv{
    display: flex;
    justify-content: space-evenly;
}
#carros{
    margin-top: 50px;
}
#cardRes{
    margin-top: 50px;
}